<h1>NYTimes NewsWire</h1>
<% @articles.each do |article| %>
    <h3><a href="#" data-reveal-id="a-<%= article[:title].parameterize %>"><%= article[:title] %></a></h3>
    <p><%= article[:geo_facet] %></p>
    <%= image_tag article[:thumbnail_standard] %>

    <p><%#= article[:multimedia] %></p>

    <div id="a-<%= article[:title].parameterize %>" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <h2 id="modalTitle"><%= article[:title] %></h2>
      <p><%= article[:byline] %></p>


      <% if article[:multimedia].class != String %>
        <%= image_tag article[:multimedia].last[:url]  %>
          <p><%= article[:multimedia].last[:caption] %></p>
      <% end %>

      <%= image_tag("https://maps.googleapis.com/maps/api/staticmap?center=#{article[:geo_facet]}&zoom=4&size=600x300&maptype=hybrid&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7C#{article[:geo_facet]}&key=#{ENV['google_static_maps_api_key']}") %>

      <!--map = GoogleStaticMap.new(:zoom => 11, :center => MapLocation.new(:address => "Washington, DC"))-->

      <p class="lead"><%= article[:abstract] %></p>
      <p><%= link_to "View Full Article", article[:url] %></p>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
<% end %>
